			/* Cuerpo */
			body {
				font-family:"Lato";
				background-color:#F5F1F1;
				font-size: larger;
				margin-left: 40px;
				margin-right: 40px;
				width:100%;
			}		
			/* Cabecera */
			header{
				background:#D9D9D9;
				font-size: larger;
				padding: 0em;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
			}
			header h1 {
				text-align: center;
				margin-bottom: 1em;
			}
			h2 {
				margin: 0em;
				text-align: center;
				font-size: larger;
			}
			/* Imagen logo */			
			img.imagenlogo {
				float: auto;
				
			}

			/*Enlaces */	
			a{
				text-decoration: none;
				color:#0D175D;
			}
			/*Horarios */	
			summary{
				font-size:larger;
			}			

			/* Menu de navegación principal */			
			ul.horizontal {
				background:#D9D9D9;
				border: 1px solid #7C7C7C;
				border-radius: 20px;
				list-style: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
			
			ul.horizontal li {
				float: left;
				width: 16.5%;
			}
			
			ul.horizontal li a {
				color: #333;
				display: block;
				padding: .3em;
				text-decoration: none;
				/* Si quisiéramos centrar los textos de los menús: */
				text-align: center;
				border-left: px solid #FFF;
				border-right: px solid #7C7C7C;
			}
			
			ul.horizontal li a.sinborde {
				border-right: none;
			}
			/* Inicio Bienvenida */			
			h1#arriba {
				margin-top: 170px;
				text-align: center;
				font-size: larger;
			}
			p{
				text-align: center;
			}
			/* contenedor2 de imagenes y texto*/
			#contenedor2 {
			  margin-top:auto;
			  display: flex;
			  flex-direction: row;
			  flex-wrap: wrap;
			  border:#FFF;
			  margin-bottom:auto;
			}
			#imagen1 {
			  width: 50%;
			}
			#imagen2 {
			  width:50%;
			  font-size:larger;
			}
			.boton {
			margin-top: 25px;
			text-align: center;
			border: 3px solid #FFF;
			border-radius: 20px;
			font-size: larger;
			width: 100%;
			margin-bottom:auto;
			}


			/* Inicio del formulario:izquierda */	
			h2.formulario{
				text-align: justify;
			}
			h3{
				text-align: justify;
			}			
			p.centro {
				text-align: justify;
			}
			
			/*Banner clinica */			

			img.imagen1 {
				float: auto;
				margin-right: 0em;
				margin-bottom: 0em;
			}		

			
			input.enlace:hover {
				border-bottom: 0;
			}
			
			input.enlace:active {
				color:red;
			}
			
			form.conpadding input {
				padding: 0.2em;
			}
			/* Menu de navegación 2 */			
			ul.horizontal1 {
				background:#D9D9D9;
				border: 2px solid #7C7C7C;
				border-radius: 20px;
				list-style: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}
			
			ul.horizontal1 li {
				float: left;
				width: 33.1%;
			}
			
			ul.horizontal1 li a {
				color: #333;
				display: block;
				padding: 1em;
				text-decoration: none;
				/* Si quisiéramos centrar los textos de los menús: */
				text-align: center;
				border-left: px solid #FFF;
				border-right: px solid #7C7C7C;
			}
			
			ul.horizontal1 li a.sinborde {
				border-right: none;
			}	
			/*Enlaces */	
			a{
				text-decoration: none;
			}
			/* Inicio Formulario */
			fieldset#mensaje {
				margin-top: 90px;
				border: gray 1px solid;
				border-radius: 20px;
			}			
			/*Formulario */			
			form.bloques label {
				display: block;
				margin: 0.3em 0;
			}
			
			form.bloques fieldset {
				width: 46.5%;
				float: left;
			}
		textarea {
				width: 300px;
				box-sizing: border-box;
				vertical-align: top;
			}			
			
			form.bloques input[type="submit"] {
				margin: 0.5em;
			}
			/*Boton formulario */			
			input[type="text"]:focus, input[type="password"]:focus {
				font-size: 1.5em;
				background-color: gray;
				border: 3px solid blue;
			}		
			/*Redes Sociales */		
			.redes {
				margin-right: 10px;
				text-align: right;
			}	
			p#redes{
				text-align: right;
			}
			/*Bajo de la pagina */
			div.bajo {
				background-color:#D9D9D9;
				color:#474242;
				text-align: center;
				width: 100%;
				height: 100px;
				margin: auto;
			}	

